:root{
    --primary-color: #bee3db;
    --secondary-color: #ecd46c;
    --text: #555b6e;
    --black: #000;
    --ajib-white: #eef0f2;
    --white: #faf9f9;
    --one: #89b0ae;
    --two: #389695;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body{
    background-color: var(--four);
    overflow-x: hidden;
}

/*HOME*/
.home{
    background-image: url(images/hh.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.home img{
    height: 70%;
    width: 70%;
    border: var(--white) 3px solid;
    margin-top: 8%;
    border-radius: 1%;
}

.home h1 {
    font-size: 130px;
    font-family: 'Poppins', sans-serif;
    color: var(--ajib-white);
    text-align: center;
    padding-top: 20%;
}

.home .black{
    color: #444;
}

/*
.home::after{
    background-image: url(images/portion.png);
    position: absolute;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    content: "";
    width: 100%;
    padding: 10.5%;
}
*/

/*ABOUT*/
.abt{
    padding-top: 4%;
    padding-bottom: 4%;
    background-attachment: fixed;
    background-image: url("images/oof.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.abt h1{
    font-size: 65px;
    font-family: 'Lato', sans-serif;
    color: var(--nine);
    padding: 2%;
    padding-top: 13%;
}

.abt img{
    width: 400px;
    height: 480px;
}

.abt p{
    font-size: 21px;
    font-family:'Raleway', sans-serif;
    padding: 2%;
}

/*SKILLS*/
.skill{
    padding: 4%;
    background-image: url("images/skill.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
}

.skill h1{
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    color: var(--nine);
    padding: 5%;
    padding-bottom: 4%;
}

.skill .row{
    padding-bottom: 1%;
}

.skill p{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding: 1%;
    color: var(--black);
    text-align: center;
}

.skill .icon{
    font-size: 65px;
    color: var(--one);
    padding: 2%;
    transition: 0.4s;
}

.skill .icon:hover{
    transform: scaleX(1.1) scaleY(1.1);
    color: var(--secondary-color);
}

/*WORKS*/
.work{
    padding: 4%;
    background-attachment: fixed;
    background-image: url("images/work2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
}

.work h1{
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    color: var(--nine);
    padding: 3%;
    padding-bottom: 4%;
    text-align: center;
}

.work .img{
    height: 250px;
    width: 310px;
    margin: 2%;
    transition: 0.4s;
}

.work .img:hover{
    transform: scaleX(1.1) scaleY(1.1);
    border: var(--secondary-color) 3px solid;
}

.work .row{
    padding-bottom: 2%;
}