:root{
    --primary-color: #bee3db;
    --secondary-color: #ffd6ba;
    --text: #555b6e;
    --black: #000;
    --ajib-white: #eef0f2;
    --white: #faf9f9;
    --one: #89b0ae;
    --two: #389695;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body{
    background-color: var(--four);
    overflow-x: hidden;
}

/*HOME*/
.home{
    background-image: url(images/hh.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.home img{
    height: 70%;
    width: 70%;
    border: var(--white) 3px solid;
    margin-top: 8%;
    border-radius: 1%;
}

.home h1 {
    font-size: 130px;
    font-family: 'Poppins', sans-serif;
    color: var(--ajib-white);
    text-align: center;
    padding-top: 22%;
}

.home .black{
    color: #444;
}

/*
.home::after{
    background-image: url(images/portion.png);
    position: absolute;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    content: "";
    width: 100%;
    padding: 10.5%;
}
*/

/*ABOUT*/
.abt{
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: url("images/oof.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.abt h1{
    font-size: 65px;
    font-family: 'Lato', sans-serif;
    color: var(--nine);
    padding: 2%;
    padding-top: 13%;
}

.abt img{
    width: 500px;
    height: 480px;
}

.abt p{
    font-size: 21px;
    font-family:'Raleway', sans-serif;
    padding: 2%;
}